
      <div class="container">
          <div class="h2 text-center">Home</div>
      </div>
      <div class="container">
        <div class="row">
              <div  class="col-md-4 p-2">
                <div class="card text-white bg-primary">
                    <div class="card-body">
                        <div class="card-title">
                            <a href="/request-create" class="text-white text-center">Mo So Tiet Kiem</a>
                        </div>
                    </div>
                </div>
              </div>
              <div class="col-md-4 p-2">
                <div class="card text-white" style="background-color: #576CBC;">
                    <div class="card-body">
                        <div class="card-title">
                            <a href="/withdraw" class="text-white text-center">Rut Tien</a>
                        </div>
                    </div>
                </div>
                </div>
            <div class="col-md-4 p-2">
                <div class="card text-black" style="background-color: #A5D7E8;">
                    <div class="card-body">
                        <div class="card-title">
                            <a href="/update" class=" text-center" style="color:black;">Goi Tien</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-2">
                <div class="card text-black" style="background-color: #F9F54B;">
                    <div class="card-body">
                        <div class="card-title">
                            <a href="/report" class=" text-center" style="color:black;">Danh sach so</a>
                        </div>
                    </div>
                </div>
              </div>
              <div class="col-md-4 p-2">
                <div class="card text-black" style="background-color: #F9F54B;">
                    <div class="card-body">
                        <div class="card-title">
                            <a href="/report/report-monthly" class=" text-center" style="color:black;">Bao cao dong mo thang</a>
                        </div>
                    </div>
                </div>
              </div>
        </div>
      </div>