    <h2 class="text-center">Login Page</h2>
    <div class="container p-3">
    <form action="/login" method="post" >
    <!-- username input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="email">Username</label>
      <input type="text" id="username" name="username" class="form-control" placeholder="Username" required />
        
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
        <label class="form-label" for="password">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="enter password" required/>
        
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
    </form>
    </div>