    <h1 class="text-center">Danh sach so tiet kiem</h1>
    <div class="container">
      <table id="html-data-table" class="table">
        <thead>
          <tr>
            <th scope="col">bankbook name</th>
            <th scope="col">save type</th>
            <th scope="col">customerid</th>
            <th scope="col">amount</th>
          </tr>
        </thead>
        <tbody>
        {{#each bankbooks}}
          <tr class="book-item">
              <td>{{name}}</td>
              <td>savetype</td>
              <td>custid</td>
              <td>{{amount}}</td>
        </tr>
        {{/each}}
        </tbody>
          
      </table>
      <div class="container">
        <div class="col-lg-3">
          <p> {{name}}: VND {{amount}}</p>
        </div>
      </div>
    </div>      