      <div class="btn-toolbar m-2 d-flex justify-content-center" role="toolbar" aria-label="">
        <div class="btn-group" role="group" aria-label="">
          <a name="" id="" class="btn btn-primary" href="/report/reportbook" role="button">Danh sach so</a>
          <a name="" id="" class="btn btn-warning" href="/report/report-monthly" role="button">Bao cao dong mo so</a>
          <a name="" id="" class="btn btn-info" href="#" role="button">Doanh thu ngay</a>
        </div>
    </div>