    <!--header-->
    <!--/end header-->
    <h2 class="text-center">Home page</h2>
    <!-- form to choose function : create book, deposit, withdraw-->
    <div class="container">
        <form method="post">
            <div class="form-group">
            <label for="amount">Amount</label>
            <input type="number" class="form-control" name="amount" id="amount" aria-describedby="" placeholder="Amount">
            <small id="" class="form-text text-muted">nhap so VND can giao dich</small>
            </div>
            <div class="form-group">
            <label for="customerid">CMND</label>
            <input type="text" class="form-control" name="customerid" id="customerid" aria-describedby="custhelp" placeholder="CMND">
            <small id="custhelp" class="form-text text-muted">CMND hay CCCD</small>
            </div>
            <div class="row mb-3">
                <div class="btn-group" role="group" aria-label="Option for request" data-toggle="buttons">
                    <label class="btn btn-outline-primary" for="create-book">
                        <input type="radio" class="btn-check" name="option" id="create-book" autocomplete="off" value="createbook">
                        Tao so tk
                    </label>

                    <label class="btn btn-outline-primary" for="withdraw">
                        <input type="radio" class="btn-check" name="option" id="withdraw" autocomplete="off" value="withdraw">
                        Rut tien
                    </label>
                    
                    <label class="btn btn-outline-primary" for="deposit">
                        <input type="radio" class="btn-check" name="option" id="deposit" autocomplete="off" value="deposit">
                        Goi tien
                    </label>
                </div>
            </div>
            <div class="row">
                <input type="button" id="radio-req" value="Check" class="btn btn-primary btn-block">
            </div>
        </form>
    </div>
    <!--/ end form-->