    <!--header-->
    <!--/end header-->
<div class="container">
    <h2 class="text-center">Request</h2>
    <!-- form to choose function : create book, deposit, withdraw-->
    <div class="container col-md-8">
        <form action="/bankbook/confirm" method="post" >

            <div class="form-group">
                <label for="customerid">Nhap CMND/CCCD: </label>
                <input type="text" class="form-control" name="customercmnd" id="customercmnd" aria-describedby="custhelp" placeholder="CMND">
            </div>

            <div class="form-group">
                <label for="amount">nhap so VND can giao dich</label>
                <input type="number" class="form-control" name="amount" id="amount" aria-describedby="" placeholder="Amount">
            </div>
            <div class="row">
                <button class="btn btn-primary btn-block">Check</button>
            </div>
        </form>
    </div>
    <!--/ end form-->
</div>