
      <div class="container">
          <h4 class="text-center">Goi Tien</h4>
        <form action="" method="post">
          <section class="input">
                <div class="col-md-12">
                    <div class=" row m-2 ">
                        <label for="temp-account" class="col-sm-2 col-md-4 col-form-label text-dark">CMND</label>
                        <div class="col-sm-10 col-md-6">
                            <input type="number" class="form-control m-1" id="cmnd" value="1234567" name="cmnd" >
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class=" row m-2 ">
                        <label for="temp-account" class="col-sm-2 col-md-4 col-form-label text-dark">So tien giao dich</label>
                        <div class="col-sm-10 col-md-6">
                            <input type="number" class="form-control m-1 money" id="amount" value="10 000" name="amount" data-type="currency" >
                        </div>
                    </div>
                </div>

            <div class="col-md-12">
                <div class=" row m-2">
                    <label for="temp-account" class="col-sm-2 col-md-4 col-form-label text-dark">Ten Khach Hang</label>
                    <div class="col-sm-10 col-md-6">
                        <span type="text" class="form-control m-1" id="name" value="" name="customername" readonly>
                    </div>
                </div>
            </div>
            <div class="container m-2 d-flex flex-wrap">
                <div class="col-md-12 justify-content-center d-flex">
                    <button type="button" id="check-btn" onclick="getCustomerName(document.getElementById('cmnd').value)" class="btn-warning btn-block col-md-6">
                        Check
                    </button>
                </div>
            </div>

          </section>
          <section>
              <table class="table table-striped">
                  <thead>
                      <tr>
                          <th scope="col">Ma so tiet kiem</th>
                          <th scope="col">Ngay mo</th>
                          <th scope="col">So du</th>
                          <th scope="col">Chon</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>TK-DM</td>
                          <td>2023-03-05</td>
                          <td>5 000 000 VND</td>
                          <td><input type="checkbox" name="chon" id="tk-dm"></td>
                      </tr>
                  </tbody>
              </table>
              <div class="container text-center">
                <button type="button" class="btn btn-primary btn-block m-2">Tao phieu goi</button>
              </div>
          </section>
          <p class="alert">
              yeu cau hop le
          </p>
        </form>
        <section class="container" style="background-color: gainsboro;">
            <div class="container bg-secondary-2" id="request-confirm">
                <h5 class="text-center text-white">Phieu yeu cau goi</h5>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class=" row">
                                <label for="bankbookid" class="col-sm-4 col-md-6 col-form-label text-dark">Ma so</label>
                                <div class="col-sm-8 col-md-6">
                                  <input type="text" readonly class="form-control" id="bankbokid" value="12">
                                </div>
                            </div>
                            
                        </div>
                        <div class="col">
                            <div class="row">
                                <label for="booktype" class="col-sm-4 col-md-6 col-form-label text-dark">Loai tiet kiem</label>
                                <div class="col-sm-8 col-md-6">
                                  <input type="text" readonly class="form-control " id="booktype" value="3 thang">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class=" row">
                                <label for="customername" class="col-sm-2 col-md-6 col-form-label text-dark">Khach hang</label>
                                <div class="col-sm-10 col-md-6">
                                  <input type="text" readonly class="form-control" id="customername" value="{{name}}">
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class=" row">
                                <label for="cmnd" class="col-sm-2 col-md-6 col-form-label text-dark">CMND</label>
                                <div class="col-sm-10 col-md-6">
                                  <input type="text" readonly class="form-control" id="cmnd" value="{{cmnd}}" name="cmnd">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class=" row">
                                <label for="address" class="col-sm-2 col-md-3 col-form-label text-dark">Dia chi</label>
                                <div class="col-sm-10 col-md-9">
                                  <input type="text" readonly class="form-control" id="address" value="{{address}}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class=" row">
                                <label for="opendate" class="col-sm-2 col-md-6 col-form-label text-dark">Ngay cap nhat</label>
                                <div class="col-sm-10 col-md-6">
                                  <input type="date" readonly class="form-control" id="opendate" value="{{updatedAt}}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class=" row">
                                <label for="amount" class="col-sm-2 col-md-6 col-form-label text-dark">So tien goi</label>
                                <div class="col-sm-10 col-md-6">
                                  <input type="number" readonly class="form-control" id="amount" value="fake 10 000 000">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container m-2 d-flex flex-wrap">
                    <div class="col-md-6 col-sm-6 d-flex"></div>
                <div class="col-md-6 col-sm-6 justify-content-end d-flex">
                    <button type="submit" class="btn-primary btn-block col-md-6">
                        Post
                    </button>
                </div>
            </div>
        </section>
      </div>
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
          <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
              <span class="text-muted">Dao Huynh Minh Thien</span>
          </a>
      </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->